# **15th October, 2025**

# **EASY LEVEL (25 QUESTIONS)**

**1. Write a program to find the factorial of a number using recursion.**

In [1]:
def factorial(num):
  if num == 0 or num == 1:
    return 1
  elif num > 1:
    return num * factorial(num-1)
  else:
    print("Please Enter a valid number")

factorial(5)

120

In [2]:
# now without recursion
def factorial2(num2):
  if num2 == 0 or num2 == 1:
    return 1
  fact = 1
  while num2 > 1:

    fact *= num2

    num2 = num2-1
  return fact

factorial2(5)

120

**2.	Print the Fibonacci sequence up to n terms.**

In [3]:
def fibonacci(n):
    seq = [0, 1]
    for i in range(2, n):
      seq.append(seq[-1] + seq[-2])
    return seq

fibonacci(6)

[0, 1, 1, 2, 3, 5]

In [4]:
def fibonacci2(n2):
  a = 0
  b = 1
  for i in range(n2):
    print(a, end=" ")
    temp = a
    a = b
    b = temp+b

fibonacci2(6)

0 1 1 2 3 5

**3.	Check if a number is prime or not.**

In [5]:
def primeCheck(n):
  c = 0
  if n == 0 or n == 1:
    print("Not a prime Number")

  else:
    for i in range(1,n+1):
      if n % i == 0:
        c += 1
      else:
        c = c

  if c == 2:
    print("Prime Number")
  else:
    print("Not Prime")

primeCheck(11)

Prime Number

**4.	Reverse a string without using slicing.**

In [6]:
def reverseString(myString):
  revStr = ''
  for i in range(len(myString)-1,-1,-1):
    revStr += myString[i]
  return revStr
reverseString("Abubakar")

'rakabubA'

In [7]:
def reverseString2(myString2):
  return "".join(reversed(myString2))

reverseString2("Abubakar")

'rakabubA'

**5.	Find the largest element in a list.**

In [8]:
def largest(arr):
  max = arr[0]
  for i in range(len(arr)):
    if arr[i] > max:
      max = arr[i]
  return max

largest([11,2,3,4,44,7,8,9,44])

44

**6.	Count vowels and consonants in a string.**

In [9]:
def countVowelConsonants(myStr):
  vowel = 'aeiou'
  vowelCount = 0
  consCount = 0
  for i in range(len(myStr)):
    if myStr[i].lower() in vowel:
      vowelCount +=1
    else:
      consCount +=1

  return str(vowelCount) + ' vowels and ' + str(consCount) + ' consonants'

countVowelConsonants('Uyair')

'3 vowels and 2 consonants'

**7.	Print multiplication table of any number.**

In [10]:
def multiplicationTable(n,start,end):
  for i in range(start,end+1):
    print(n , " x " ,i, " = " ,n*i)

multiplicationTable(6,5,10)

6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
6  x  10  =  60

**8.	Check if a string is a palindrome.**

In [11]:
def palindrome(myStr):
  revStr = "".join(reversed(myStr))

  if revStr.lower() == myStr.lower():
    print("Palindrome")
  else:
    print("No Palindrom")

palindrome("Dad")

Palindrome

**9.	Find the second largest number in a list.**

In [12]:
def secondLargest(arr):
  max = float('-inf')
  secondMax = float('-inf')
  for i in range(len(arr)):
    if max < arr[i]:
      secondMax = max
      max = arr[i]
    elif secondMax < arr[i] and secondMax < max:
      secondMax = arr[i]

  return max, secondMax

secondLargest([1111,11123,342,12,123,11,122,1])

(11123, 1111)

**10.	Merge two lists and remove duplicates.**

In [13]:
def mergeTwoList(arr1,arr2):
  return arr1+arr2

mergeTwoList([1,2,3,4],[3,21,121,12])

[1, 2, 3, 4, 3, 21, 121, 12]

In [14]:
def mergeTwoList2(arr1,arr2):
  arr1.extend(arr2)
  return arr1

mergeTwoList2([1,2,3,4],[3,21,121,12])

[1, 2, 3, 4, 3, 21, 121, 12]

In [15]:
def mergeTwoList2(arr1,arr2):
  c = [*arr1, *arr2]
  return c

mergeTwoList2([1,2,3,4],[3,21,121,12])

[1, 2, 3, 4, 3, 21, 121, 12]

In [16]:
def mergerList(arr1, arr2):
  mergArr = []
  for i in arr1:
    mergArr.append(i)
  for j in arr2:
    mergArr.append(j)

  return mergArr

mergerList([1,2321,213,1321,1213,1],[1,23,5,4,5,7,7,8])

[1, 2321, 213, 1321, 1213, 1, 1, 23, 5, 4, 5, 7, 7, 8]

**11.	Count frequency of each element in a list.**

In [17]:
def frequencyCount(arr):
  freq = dict()
  for i in range(len(arr)):
    count = 0
    for j in range(len(arr)):
      if arr[i] == arr[j]:
        count +=1
    freq[arr[i]] = count

  return freq

frequencyCount(['Uzair',1,1,2321,2321,11,12,12,1,5,4,'Uzair','a'])

{'Uzair': 2, 1: 3, 2321: 2, 11: 1, 12: 2, 5: 1, 4: 1, 'a': 1}

**12.	Sort a list without using the built-in sort() method.**

In [18]:
def mySort(arr):
  for i in range(len(arr)):
    min = arr[i]
    idx = i
    c = i
    for j in range(i,len(arr)):
      if arr[j] < min :
        min = arr[j]
        idx = c
      c+=1
    temp = arr[i]
    arr[i] = min
    arr[idx] = temp
  print(arr)

mySort([1,2,1,1,12,3,3,3])

[1, 1, 1, 2, 3, 3, 3, 12]

**13. Print the sentence backwards, but keep words in the correct order**

In [19]:
def backwordSentence(myStr):
  s = myStr.split()
  s.reverse()
  sentence = " ".join(s)
  s2 = ''
  for i in range(len(sentence)-1,-1,-1):
      s2 = s2 + sentence[i]
  return s2

backwordSentence("Hello is")

'olleH si'

**14. Total number of unique characters in a sentence(ignore spaces)**

In [20]:
def noOfUniqueChar(sent):
  uniq = []
  for i in sent.lower():
    if i not in uniq:
      uniq.append(i)

  return len(uniq)

noOfUniqueChar("Uzair")

5

**15.	Convert Celsius to Fahrenheit and vice versa.**

In [21]:
def tempConversion():
  tempType = input("Enter the converstion, F for Fahrenheit and C for Celsius: ")
  while tempType.lower() != 'c' and tempType.lower() != 'f':
    print("Please Type Correct!")
    tempType = input("Enter F for Fahrenheit and C for Celsius: ")

  # F → C: (F - 32) * 5/9
  # C → F: (C * 9/5) + 32

  if tempType.lower() == 'c':
    temp = input("Please Enter Temperature in Fahrenheit (°F): ")
    cel = (int(temp) - 32) * 5/9
    print(f"Celsius (°C): {cel}°C")
  elif tempType.lower() == 'f':
    temp = input("Please Enter Temperature in Celsius (°C): ")
    fahr = (int(temp) * 9/5) + 32
    print(f"Fahrenheit (°F): {fahr}°F")


tempConversion()

Enter the converstion, F for Fahrenheit and C for Celsius:
Please Type Correct!
Enter F for Fahrenheit and C for Celsius: c
Please Enter Temperature in Fahrenheit (°F): 104
Celsius (°C): 40.0°C

**16.	Swap two numbers without using a third variable.**

In [22]:

def swappWithoutOtherVariable(firstName, lastName):
  firstName = firstName + lastName #AbubakarAnsari 14-6
  lastName = firstName[0:len(firstName)-len(lastName)]
  firstName = firstName[len(lastName):]
  print(f"Last Name: {lastName}")
  print(f"First Name: {firstName}")

firstName = "Abubakar"
lastName = "Ansari"
swappWithoutOtherVariable("Uzair","Ansari")
swappWithoutOtherVariable(firstName,lastName)

Last Name: Uzair
First Name: Ansari
Last Name: Abubakar
First Name: Ansari

**17.	Find the sum of digits of a number.**

In [23]:
def sumOfDigits():
  num = input("Enter a Number: ")
  sum = 0
  for i in range(len(num)):
    sum += int(num[i])

  return sum

sumOfDigits()

Enter a Number: 43

7

**18.	Print all even and odd numbers from a list separately.**

In [24]:
def sepEvenOdd(arr):
  even = []
  odd = []
  for i in range(len(arr)):
    if arr[i] == 1:
      odd.append(arr[i])
    elif arr[i] % 2 == 0:
      even.append(arr[i])
    else:
      odd.append(arr[i])
  print(f"Even Collection in List: {even}")
  print(f"Odd Collection in List: {odd}")

sepEvenOdd([1,2,3,4,5,6,7,8,9])

Even Collection in List: [2, 4, 6, 8]
Odd Collection in List: [1, 3, 5, 7, 9]

**19.	Find all numbers divisible by 7 and 5 between 1500 and 2700.**

In [25]:
def numberDivisble(start, end):
  listOfNum = []
  for i in range(start, end+1):
    if i % 7 == 0 and i % 5 == 0:
      listOfNum.append(i)

  return listOfNum

numberDivisble(1500,2700)

[1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]

**20.	Create a dictionary from two lists.**

In [26]:
def dicCreation (list1, list2):
  myDict = dict()
  for i in range(len(list1)):
    myDict[list1[i]] = list2[i]
  return myDict

dicCreation(["Uzair","Umair","Bilal"],[24,22,17])

{'Uzair': 24, 'Umair': 22, 'Bilal': 17}

**21.	Remove all punctuation from a string.**

In [27]:
def removePunctuations(myStr):
  punctuations = "!()-[]{};:'\"\\,<>./?@#$%^&*_~"
  cleanText = ""
  for i in myStr:
    if i not in punctuations:
      cleanText+=i
  return cleanText

removePunctuations("!()-[]{};:'\"\\,<>./?@#$%^&*_~Uzair")

'Uzair'

**22.	Find the common elements between two lists.**

In [28]:
def findCommons(list1, list2):
  commanList = []
  for i in range(len(list1)):
    for j in range(len(list2)):
      if list1[i] == list2[j]:
       if list1[i] not in commanList:
         commanList.append(list1[i])
      else:
        pass
  return commanList

findCommons([1,3,3,2,5,4],[4,5,5,2])

[2, 5, 4]

**23.	Calculate the area of a circle given its radius.**

In [29]:
import math
def radiusOfCircle (radius):
  # area = πr2 & pi = 3.142
  area = math.pi * (radius**2)
  return round(area,2)

radiusOfCircle(4)

50.27

**24.	Check if a number is an Armstrong number.**

In [30]:
def checkArmstrong(num):
  num = str(num)
  armNum = 0
  for i in str(num):
    armNum += int(i)**len(num)

  if armNum == int(num):
    print(f"{num} is a Armstrong") #153,1634,370,371
  else:
    print(f"{num} is not an Armstrong number")


checkArmstrong(1634)

1634 is a Armstrong

**25.	Count occurrences of a word in a sentence.**

In [31]:
def occuranceOfWord(word,sent):
  newSent = sent.lower().split()
  c = 0
  for w in newSent:
    if word.lower() == w:
      c=c+1
    else:
      c=c
  return c
occuranceOfWord("python", "Python is easy to learn and Python is powerful")

2

**26.	Find the smallest missing number in a sorted list.**

In [32]:
def smallestMissingNum(sortArr):
  start = sortArr[0]
  for i in range(len(sortArr)):
    expected = start +i
    if sortArr[i] != expected:
          return expected
  return sortArr[-1] + 1

smallestMissingNum([10, 11, 13 ,14, 15, 16])

12

**27.	Print all substrings of a given string.**

In [33]:
def subString(myStr):
  for i in range(len(myStr)):
    sub = ""
    for j in range(i,len(myStr)):
      sub += myStr[j]
      print(sub)

subString('Abubakar')

A
Ab
Abu
Abub
Abuba
Abubak
Abubaka
Abubakar
b
bu
bub
buba
bubak
bubaka
bubakar
u
ub
uba
ubak
ubaka
ubakar
b
ba
bak
baka
bakar
a
ak
aka
akar
k
ka
kar
a
ar
r

# **MEDIUM LEVEL (25 QUESTIONS)**

**28.	Implement a program to find the GCD and LCM of two numbers.**

In [34]:
def GCD(num1,num2):
  listNum1 = []
  listNum2 = []
  for i in range(1,num1+1):
    if num1 % i == 0:
      listNum1.append(i)
  for i in range(1,num2+1):
    if num2 % i == 0:
      listNum2.append(i)

  #approach 1
  # for i in range(len(listNum1)):
  #   if listNum1[i] in listNum2:
  #     comList.append(listNum1[i])

  # approach 2
  # for i in range(len(listNum1)):
  #   for j in range(len(listNum2)):
  #     if listNum1[i] == listNum2[j]:
  #       if listNum1[i] not in comList:
  #         comList.append(listNum1[i])
  #       else:
  #         pass

  # as i already make a function by using approach 2 in problem 22 (easy) which returning
  # the list of common in 2 different list so i am going to use that function
  # becuase function are reusable that why i made the function so now i am going to use my functions findCommons

  common = findCommons(listNum1,listNum2)
  return max(common)

def LCM(num1,num2):
  return (num1 * num2) // GCD(num1,num2)

LCM(12,15)

60

In [35]:
# approach # 02
def GCD2(num1,num2):
  list1 = [i for i in range(1, num1+1) if num1 % i == 0]
  list2 = [i for i in range(1, num2+1) if num2 % i == 0]
  common2 = list(set(list1) & set(list2))
  return max(common2)

def LCM2(num1,num2):
  return (num1 * num2) // GCD2(num1,num2)

LCM2(12,15)

60

**29.	Find all pairs in an array whose sum is equal to a target number.**

In [36]:
def getSumPairs(target, listOfNum):
  sumPairs = []
  for i in range (len(listOfNum)):
    for j in range(i+1,len(listOfNum)):
      if listOfNum[i] + listOfNum[j] == target:
        sumPairs.append((listOfNum[i],listOfNum[j]))

  return sumPairs


getSumPairs(7,[1,2,3,4])

[(3, 4)]

**30.	Remove all duplicate characters from a string.**

In [37]:
def removeDuplicate(myStr):
  rem = ""
  for i in myStr.lower():
    if i not in rem:
      rem += i
  return rem

removeDuplicate("PrograMming")

'progamin'

**31.	Implement a function to flatten a nested list.**

In [38]:
def myFlatten(yourList):
  myFlat = []
  for i in yourList:
    if isinstance(i,list):
        myFlat.extend(myFlatten(i))
    else:
      myFlat.append(i)
  return myFlat

myFlatten([[1,2],2,3,4,5,[6,4,[1,2,[11,14]]]])

[1, 2, 2, 3, 4, 5, 6, 4, 1, 2, 11, 14]

In [39]:
#quick practice of same
def myFlatten2(arr):
  myFlat = []
  for i in arr:
    if isinstance(i,list):
      myFlat.extend(myFlatten2[i])
    else:
      myFlat.append(i)
  return myFlat

**Tricky Follow Up Task: Write a recursive function that reverses a string without using loops or slicing.**

In [40]:
def recRevStr(myStr):
    if len(myStr) <= 1:       # Base case
        return myStr
    return myStr[-1] + recRevStr(myStr[:-1])  # Last char + reversed rest

# Test
print(recRevStr("Python"))  # Output: "nohtyP"

nohtyP

**32.	Create a function to count words in a text file.**

In [42]:
def wordCountInFile(path):
    with open(path,"r") as file:
      content = file.read()
    return len(content.split())
wordCountInFile("forRead.txt")

23

**33.	Find the intersection and union of two sets without using built-in methods.**

In [43]:
def intersectionAndUnion(set1, set2):
    union = set1 | set2            # Union using | operator
    intersect = set1 & set2        # Intersection using & operator
    print(f"Union: {union}")
    print(f"Intersection: {intersect}")

mySet = {1, 2, 3, 2, 6, 4, 5}
mySet1 = {1, 2, 7, 8, 6, 4, 5}
intersectionAndUnion(mySet, mySet1)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {1, 2, 4, 5, 6}

In [44]:
# approach2
def intersectionAndUnion2(set1, set2):
  union = {*set1,*set2}
  intersect = set()
  for i in set1:
    for j in set2:
      if i==j:
        intersect.add(i)
  print(f"Union: {union}")
  print(f"Intersection: {intersect}")


mySet = {1, 2, 3,2,6, 4, 5}
mySet1 = {1, 2,7,8,6, 4, 5}
intersectionAndUnion(mySet,mySet1)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {1, 2, 4, 5, 6}

**35.	Write a Python class for a bank account with deposit and withdraw methods.**

In [45]:
class BankAccount:
  def __init__(self,owner,balance):
    self.owner = owner
    self.balance = balance
  def getBalance(self):
     print(f"{self.owner} current Balance is {self.balance}")

  def deposit(self, amount):
    if amount > 0:
      self.balance += amount
      print(f"Amount Deposited: ", amount)
    else:
      print("Insufficient amount or Deposit amount must be positive.")
  def withDraw(self, amount):
    if amount > self.balance:
      print("Insufficient balance")
    elif amount < 0:
      print("Amount Must be more than 0.")
    else:
      self.balance -= amount
      print(f"Amount Withdrawal: ", amount)



account = BankAccount("Abu Bakar",1000)
account1 = BankAccount("Uzair",500)


print(account.owner)
print(account1.owner)
account.getBalance()
account.withDraw(199)
account.getBalance()
account1.getBalance()

Abu Bakar
Uzair
Abu Bakar current Balance is 1000
Amount Withdrawal:  199
Abu Bakar current Balance is 801
Uzair current Balance is 500

36.	Sort a list of dictionaries by a specific key.

In [46]:
std = [
    {"name": "Sara", "age": 26},
    {"name": "Alex", "age": 32},
    {"name": "John", "age": 25},
    {"name": "Uzair", "age": 25},
    {"name": "Marnie", "age": 22},
    {"name": "Edwill", "age": 21},
]
for i in range(len(std)):
  min = i
  for j in range(i,len(std)):
    if std[min]['age'] > std[j]['age']:
      min = j
  std[i],std[min] = std[min],std[i]
print(std)

[{'name': 'Edwill', 'age': 21}, {'name': 'Marnie', 'age': 22}, {'name': 'John', 'age': 25}, {'name': 'Uzair', 'age': 25}, {'name': 'Sara', 'age': 26}, {'name': 'Alex', 'age': 32}]

In [47]:
# QUICK REVISION
liste = [1,2,3,4,5,5,6,0,9,8,1,2]
for i in range(len(liste)):
  min= liste[i]
  idx = i
  c = i
  for j in range(i,len(liste)):
    if min > liste[j]:
      min = liste[j]
      idx= c
    c+=1
  temp = liste[i]
  liste[idx]= temp
  liste[i] = min

print(liste)
#APPROCH 2
liste2 = [1,2,3,4,5,5,6,0,9,8,1,2]
for i in range(len(liste2)):
  min = i
  for j in range(i,len(liste2)):
    if liste2[min] > liste2[j]:
      min = j
  liste2[i], liste2[min] = liste2[min],liste2[i]
print(liste2)

[0, 1, 1, 2, 2, 3, 4, 5, 5, 6, 8, 9]
[0, 1, 1, 2, 2, 3, 4, 5, 5, 6, 8, 9]

In [48]:
firstName = "Abubakar"
lastName = 'Ansari'
firstName,lastName = lastName,firstName
print(lastName)

Abubakar

**37.	Write a Python function to check if two strings are anagrams**

In [49]:
def anagram(word1,word2):
  if len(word1) == 0 or len(word2) == 0:
    print("One of the words is empty")
  elif len(word1) != len(word2):
    print("May be 2 different word length doesn't match")
  else:
    if all(char.lower() in word2 for char in word1):
        print("Anagram")
    else:
        print("Same length but different Word character!")

anagram('aab','ab')
# possibility 1: aesd   # possibility 1: saed   # possibility 1: asds   # possibility 1: asds
# possibility 2: ased   # possibility 2: sdea   # possibility 2: asds   # possibility 2: asds
# possibility 3: ades   # possibility 3: seda   # possibility 3: asds   # possibility 3: asds
# possibility 4: adse   # possibility 4: sdae   # possibility 4: asds   # possibility 4: asds
# possibility 5: asde   # possibility 5: sead   # possibility 4: asds   # possibility 4: asds

May be 2 different word length doesn't match

In [50]:
#approach 2
def anagram(word1, word2):
    word1 = word1.lower()
    word2 = word2.lower()

    if len(word1) != len(word2):
        print("Words are of different lengths, cannot be anagrams")
        return False

    if sorted(word1) == sorted(word2):
        print(f'"{word1}" and "{word2}" are anagrams')
        return True
    else:
        print(f'"{word1}" and "{word2}" are NOT anagrams')
        return False

anagram("Gum", "Mug")       # True
anagram("Listen", "Silent") # True
anagram("Hello", "World")   # False
anagram("Gum", "Mugs")      # False

"gum" and "mug" are anagrams
"listen" and "silent" are anagrams
"hello" and "world" are NOT anagrams
Words are of different lengths, cannot be anagrams

False

**38.	Implement a program to find the longest word in a sentence.**

In [51]:
def longWord(sentence):
  newSent = sentence.split()
  word = ""
  for w in newSent:
    if len(w) > len(word):
      word = w

  print(f"Longest Word in the sentence is {word} and length is {len(word)}")

longWord("AbubakarAnsari I AbubakarAnsariBecomeDataAnayst am Abubakar")

Longest Word in the sentence is AbubakarAnsariBecomeDataAnayst and length is 30

In [52]:
def firstNonRepeating(myStr):
  myData = dict()
  myStr = myStr.lower()
  char = ""
  for i in range(len(myStr)):
    c = 0
    for j in range(len(myStr)):
      if myStr[i] == myStr[j]:
        c+=1
        char = myStr[i]
    myData[myStr[i]] = c
    if c == 1:
      print(f"First Non Repeating Character {char}")
      break

  print(myData)

firstNonRepeating("Abubakar")

First Non Repeating Character u
{'a': 3, 'b': 2, 'u': 1}

**41.	Implement a program to count how many times each character appears in a string (case insensitive).**

In [53]:
def charApperance(myStr):
  myStr = myStr.lower()
  myData = dict()
  for i in myStr:
    if i in myData:
      myData[i] += 1
    else:
      myData[i] = 1


  print(myData)

charApperance("Abubakar")

{'a': 3, 'b': 2, 'u': 1, 'k': 1, 'r': 1}

**42.	Write a function to calculate the sum of all numbers in a nested list.**

In [54]:
def sumOfAllNestedList (yourList):
  total = 0
  for i in yourList:
    if isinstance(i,list):
      total += sumOfAllNestedList(i)
    else:
      total += i
  return total

sumOfAllNestedList([1,2,4,[1,2,[2,1,[5,1,21,21,45,6],2],323,2],9,0])

448

**43.	Implement a binary search algorithm.**

In [55]:
def binarySearch(arr,x):
  low = 0
  high = len(arr)-1
  while low <= high:
    mid = (low + high) // 2
    if arr[mid] == x:
      return mid
    elif arr[mid] < x:
      low = mid + 1
    else:
      high = mid-1
  return -1

arr = [2, 3, 4, 11, 10, 40]
x = 10

result = binarySearch(arr, x)

if result != -1:
  print("Element is present at index", result)
else:
  print("Element is not present in array")

Element is present at index 4

**44.	Generate random passwords of given length.**

In [56]:
import random
import string
def randPassGenerator(length):
  if length <= 5:
    print("Password length must be greater than 5")
    return
  upper = random.choice(string.ascii_uppercase)
  lower = random.choice(string.ascii_lowercase)
  digit = random.choice(string.digits)
  special = random.choice(string.punctuation)

  specialChar = string.ascii_letters + string.digits + string.punctuation
  rem = "".join(random.choice(specialChar) for _ in range(length-4))
  passChar = list(upper+lower+digit+special+rem)
  random.shuffle(passChar)
  password = "".join(passChar)
  print(f"Your Password is: {password}")


randPassGenerator(10)

Your Password is: 2lR\AS:QV.

**45.	Implement a Caesar cipher for text encryption and decryption.**

In [57]:
def ceaserCipher(text, shift):
  result = ""
  for char in text:
    if char.isalpha():
      if char.isupper():
        base = ord("A")
      else:
        base = ord("a")

      result += chr((ord(char) - base + shift) % 26 + base)
    else:
      result+=char
  return result

plainText = "Hello"
shift = 3
encrypted = ceaserCipher(plainText,shift)
decrypted = ceaserCipher(encrypted,-shift)

print(f"The Plain Text is: {plainText}")
print(f"The Encrypted Text is: {encrypted}")
print(f"The Decrypted Text is: {decrypted}")

The Plain Text is: Hello
The Encrypted Text is: Khoor
The Decrypted Text is: Hello

**46.	Create a decorator that measures the execution time of a function**

In [ ]:
def greatingFunction():
  print("Hello World")

import time

def decoratorFunc(func):
  def wrapperFunc():
    print("Start:")
    start = time.time()
    func()
    end = time.time()
    executionTime = end - start
    print(f"The total execution time of the function is {executionTime:.6f} seconds: \n")
  return wrapperFunc

decorated = decoratorFunc(greatingFunction)
decorated()

print("x---------SLOW FUNCTION---------x \n")

@decoratorFunc
def slow_function():
    for i in range(1000000):
      pass

slow_function()

Start:
Hello World
The total execution time of the function is 0.000009 seconds:

x---------SLOW FUNCTION---------x

Start:
The total execution time of the function is 0.023627 seconds:

**47.	Count the number of uppercase and lowercase letters in a string.**

In [70]:
def numUpperLower(myStr):
  myString = "".join(myStr.split())
  print(myString)
  upper = 0
  lower = 0
  for char in myString:
    if char.isupper():
      upper+= 1
    else:

      lower +=1
  print(f"Total number of upper {upper} and lower {lower}")

numUpperLower("AbubAKar is my name")

AbubAKarismyname
Total number of upper 3 and lower 13

**48.	Find the most frequent element in a list.**

In [79]:
def frequentElement(myList):
  collection = dict()
  for el in myList:
    if el in collection:
      collection[el] +=1
    else:
      collection[el] = 1
  res = max(collection, key=collection.get)
  freq = collection[res]
  return (res, freq)

frequentElement([1,13,13,4,5,6,1,331,12,11,1,13,13])

(13, 4)

**49.	Reverse the order of words in a sentence**

In [84]:
def reverseSentence(sentence):
  split = sentence.split()
  split.reverse()
  res = " ".join(split)
  return res

reverseSentence("I am Abubakar")

'Abubakar am I'

**50.	Find the missing number in a sequence 1 to n.**

In [96]:
def missingValue(providedList):
  providedList.sort()
  minVal = providedList[0]
  maxVal = max(providedList)
  generatedSet = set(providedList)
  missing = []
  for i in range(minVal, maxVal):
    if i not in generatedSet:
      missing.append(i)
  return missing

missingValue([10,2,2,4,5])

[3, 6, 7, 8, 9]