# **15th October, 2025**

# **EASY LEVEL (25 QUESTIONS)**

**1. Write a program to find the factorial of a number using recursion.**

In [2]:
def factorial(num):
  if num == 0 or num == 1:
    return 1
  elif num > 1:
    return num * factorial(num-1)
  else:
    print("Please Enter a valid number")

factorial(5)

120

In [3]:
# now without recursion
def factorial2(num2):
  if num2 == 0 or num2 == 1:
    return 1
  fact = 1
  while num2 > 1:

    fact *= num2

    num2 = num2-1
  return fact

factorial2(5)

120

**2.	Print the Fibonacci sequence up to n terms.**

In [4]:
def fibonacci(n):
    seq = [0, 1]
    for i in range(2, n):
      seq.append(seq[-1] + seq[-2])
    return seq

fibonacci(6)

[0, 1, 1, 2, 3, 5]

In [5]:
def fibonacci2(n2):
  a = 0
  b = 1
  for i in range(n2):
    print(a, end=" ")
    temp = a
    a = b
    b = temp+b

fibonacci2(6)

0 1 1 2 3 5

**3.	Check if a number is prime or not.**

In [6]:
def primeCheck(n):
  c = 0
  if n == 0 or n == 1:
    print("Not a prime Number")

  else:
    for i in range(1,n+1):
      if n % i == 0:
        c += 1
      else:
        c = c

  if c == 2:
    print("Prime Number")
  else:
    print("Not Prime")

primeCheck(11)

Prime Number

**4.	Reverse a string without using slicing.**

In [7]:
def reverseString(myString):
  revStr = ''
  for i in range(len(myString)-1,-1,-1):
    revStr += myString[i]
  return revStr
reverseString("Abubakar")

'rakabubA'

In [8]:
def reverseString2(myString2):
  return "".join(reversed(myString2))

reverseString2("Abubakar")

'rakabubA'

**5.	Find the largest element in a list.**

In [9]:
def largest(arr):
  max = arr[0]
  for i in range(len(arr)):
    if arr[i] > max:
      max = arr[i]
  return max

largest([11,2,3,4,44,7,8,9,44])

44

**6.	Count vowels and consonants in a string.**

In [10]:
def countVowelConsonants(myStr):
  vowel = 'aeiou'
  vowelCount = 0
  consCount = 0
  for i in range(len(myStr)):
    if myStr[i].lower() in vowel:
      vowelCount +=1
    else:
      consCount +=1

  return str(vowelCount) + ' vowels and ' + str(consCount) + ' consonants'

countVowelConsonants('Uyair')

'3 vowels and 2 consonants'

**7.	Print multiplication table of any number.**

In [11]:
def multiplicationTable(n,start,end):
  for i in range(start,end+1):
    print(n , " x " ,i, " = " ,n*i)

multiplicationTable(6,5,10)

6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
6  x  10  =  60

**8.	Check if a string is a palindrome.**

In [12]:
def palindrome(myStr):
  revStr = "".join(reversed(myStr))

  if revStr.lower() == myStr.lower():
    print("Palindrome")
  else:
    print("No Palindrom")

palindrome("Dad")

Palindrome

**9.	Find the second largest number in a list.**

In [13]:
def secondLargest(arr):
  max = float('-inf')
  secondMax = float('-inf')
  for i in range(len(arr)):
    if max < arr[i]:
      secondMax = max
      max = arr[i]
    elif secondMax < arr[i] and secondMax < max:
      secondMax = arr[i]

  return max, secondMax

secondLargest([1111,11123,342,12,123,11,122,1])

(11123, 1111)

**10.	Merge two lists and remove duplicates.**

In [14]:
def mergeTwoList(arr1,arr2):
  return arr1+arr2

mergeTwoList([1,2,3,4],[3,21,121,12])

[1, 2, 3, 4, 3, 21, 121, 12]

In [15]:
def mergeTwoList2(arr1,arr2):
  arr1.extend(arr2)
  return arr1

mergeTwoList2([1,2,3,4],[3,21,121,12])

[1, 2, 3, 4, 3, 21, 121, 12]

In [16]:
def mergeTwoList2(arr1,arr2):
  c = [*arr1, *arr2]
  return c

mergeTwoList2([1,2,3,4],[3,21,121,12])

[1, 2, 3, 4, 3, 21, 121, 12]

In [17]:
def mergerList(arr1, arr2):
  mergArr = []
  for i in arr1:
    mergArr.append(i)
  for j in arr2:
    mergArr.append(j)

  return mergArr

mergerList([1,2321,213,1321,1213,1],[1,23,5,4,5,7,7,8])

[1, 2321, 213, 1321, 1213, 1, 1, 23, 5, 4, 5, 7, 7, 8]

**11.	Count frequency of each element in a list.**

In [18]:
def frequencyCount(arr):
  freq = dict()
  for i in range(len(arr)):
    count = 0
    for j in range(len(arr)):
      if arr[i] == arr[j]:
        count +=1
    freq[arr[i]] = count

  return freq

frequencyCount(['Uzair',1,1,2321,2321,11,12,12,1,5,4,'Uzair','a'])

{'Uzair': 2, 1: 3, 2321: 2, 11: 1, 12: 2, 5: 1, 4: 1, 'a': 1}

**12.	Sort a list without using the built-in sort() method.**

In [19]:
def mySort(arr):
  for i in range(len(arr)):
    min = arr[i]
    idx = i
    c = i
    for j in range(i,len(arr)):
      if arr[j] < min :
        min = arr[j]
        idx = c
      c+=1
    temp = arr[i]
    arr[i] = min
    arr[idx] = temp
  print(arr)

mySort([1,2,1,1,12,3,3,3])

[1, 1, 1, 2, 3, 3, 3, 12]

**13. Print the sentence backwards, but keep words in the correct order**

In [20]:
def backwordSentence(myStr):
  s = myStr.split()
  s.reverse()
  sentence = " ".join(s)
  s2 = ''
  for i in range(len(sentence)-1,-1,-1):
      s2 = s2 + sentence[i]
  return s2

backwordSentence("Hello is")

'olleH si'

**14. Total number of unique characters in a sentence(ignore spaces)**

In [21]:
def noOfUniqueChar(sent):
  uniq = []
  for i in sent.lower():
    if i not in uniq:
      uniq.append(i)

  return len(uniq)

noOfUniqueChar("Uzair")

5

**15.	Convert Celsius to Fahrenheit and vice versa.**

In [22]:
def tempConversion():
  tempType = input("Enter the converstion, F for Fahrenheit and C for Celsius: ")
  while tempType.lower() != 'c' and tempType.lower() != 'f':
    print("Please Type Correct!")
    tempType = input("Enter F for Fahrenheit and C for Celsius: ")

  # F → C: (F - 32) * 5/9
  # C → F: (C * 9/5) + 32

  if tempType.lower() == 'c':
    temp = input("Please Enter Temperature in Fahrenheit (°F): ")
    cel = (int(temp) - 32) * 5/9
    print(f"Celsius (°C): {cel}°C")
  elif tempType.lower() == 'f':
    temp = input("Please Enter Temperature in Celsius (°C): ")
    fahr = (int(temp) * 9/5) + 32
    print(f"Fahrenheit (°F): {fahr}°F")


tempConversion()

Enter the converstion, F for Fahrenheit and C for Celsius: 1c
Please Type Correct!
Enter F for Fahrenheit and C for Celsius: c
Please Enter Temperature in Fahrenheit (°F): 104
Celsius (°C): 40.0°C

**16.	Swap two numbers without using a third variable.**

In [23]:

def swappWithoutOtherVariable(firstName, lastName):
  firstName = firstName + lastName #AbubakarAnsari 14-6
  lastName = firstName[0:len(firstName)-len(lastName)]
  firstName = firstName[len(lastName):]
  print(f"Last Name: {lastName}")
  print(f"First Name: {firstName}")

firstName = "Abubakar"
lastName = "Ansari"
swappWithoutOtherVariable("Uzair","Ansari")
swappWithoutOtherVariable(firstName,lastName)

Last Name: Uzair
First Name: Ansari
Last Name: Abubakar
First Name: Ansari

**17.	Find the sum of digits of a number.**

In [24]:
def sumOfDigits():
  num = input("Enter a Number: ")
  sum = 0
  for i in range(len(num)):
    sum += int(num[i])

  return sum

sumOfDigits()

Enter a Number: 104

5

**18.	Print all even and odd numbers from a list separately.**

In [25]:
def sepEvenOdd(arr):
  even = []
  odd = []
  for i in range(len(arr)):
    if arr[i] == 1:
      odd.append(arr[i])
    elif arr[i] % 2 == 0:
      even.append(arr[i])
    else:
      odd.append(arr[i])
  print(f"Even Collection in List: {even}")
  print(f"Odd Collection in List: {odd}")

sepEvenOdd([1,2,3,4,5,6,7,8,9])

Even Collection in List: [2, 4, 6, 8]
Odd Collection in List: [1, 3, 5, 7, 9]

**19.	Find all numbers divisible by 7 and 5 between 1500 and 2700.**

In [26]:
def numberDivisble(start, end):
  listOfNum = []
  for i in range(start, end+1):
    if i % 7 == 0 and i % 5 == 0:
      listOfNum.append(i)

  return listOfNum

numberDivisble(1500,2700)

[1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]

**20.	Create a dictionary from two lists.**

In [30]:
def dicCreation (list1, list2):
  myDict = dict()
  for i in range(len(list1)):
    myDict[list1[i]] = list2[i]
  return myDict

dicCreation(["Uzair","Umair","Bilal"],[24,22,17])

{'Uzair': 24, 'Umair': 22, 'Bilal': 17}

**21.	Remove all punctuation from a string.**

In [31]:
def removePunctuations(myStr):
  punctuations = "!()-[]{};:'\"\\,<>./?@#$%^&*_~"
  cleanText = ""
  for i in myStr:
    if i not in punctuations:
      cleanText+=i
  return cleanText

removePunctuations("!()-[]{};:'\"\\,<>./?@#$%^&*_~Uzair")

'Uzair'

**22.	Find the common elements between two lists.**

In [32]:
def findCommons(list1, list2):
  commanList = []
  for i in range(len(list1)):
    for j in range(len(list2)):
      if list1[i] == list2[j]:
       if list1[i] not in commanList:
         commanList.append(list1[i])
      else:
        pass
  return commanList

findCommons([1,3,3,2,5,4],[4,5,5,2])

[2, 5, 4]

**23.	Calculate the area of a circle given its radius.**

In [35]:
import math
def radiusOfCircle (radius):
  # area = πr2 & pi = 3.142
  area = math.pi * (radius**2)
  return round(area,2)

radiusOfCircle(4)

50.27

**24.	Check if a number is an Armstrong number.**

In [65]:
def checkArmstrong(num):
  num = str(num)
  armNum = 0
  for i in str(num):
    armNum += int(i)**len(num)

  if armNum == int(num):
    print(f"{num} is a Armstrong") #153,1634,370,371
  else:
    print(f"{num} is not an Armstrong number")


checkArmstrong(1634)

1634 is a Armstrong

**25.	Count occurrences of a word in a sentence.**

In [78]:
def occuranceOfWord(word,sent):
  newSent = sent.lower().split()
  c = 0
  for w in newSent:
    if word.lower() == w:
      c=c+1
    else:
      c=c
  return c
occuranceOfWord("python", "Python is easy to learn and Python is powerful")

2

**26.	Find the smallest missing number in a sorted list.**

In [97]:
def smallestMissingNum(sortArr):
  start = sortArr[0]
  for i in range(len(sortArr)):
    expected = start +i
    if sortArr[i] != expected:
          return expected
  return sortArr[-1] + 1

smallestMissingNum([10, 11, 13 ,14, 15, 16])

12

**27.	Print all substrings of a given string.**

In [102]:
def subString(myStr):
  for i in range(len(myStr)):
    sub = ""
    for j in range(i,len(myStr)):
      sub += myStr[j]
      print(sub)

subString('Abubakar')

A
Ab
Abu
Abub
Abuba
Abubak
Abubaka
Abubakar
b
bu
bub
buba
bubak
bubaka
bubakar
u
ub
uba
ubak
ubaka
ubakar
b
ba
bak
baka
bakar
a
ak
aka
akar
k
ka
kar
a
ar
r