# **15th October, 2025**

**1. Write a program to find the factorial of a number using recursion.**

In [1]:
def factorial(num):
  if num == 0 or num == 1:
    return 1
  elif num > 1:
    return num * factorial(num-1)
  else:
    print("Please Enter a valid number")

factorial(5)

120

In [2]:
# now without recursion
def factorial2(num2):
  if num2 == 0 or num2 == 1:
    return 1
  fact = 1
  while num2 > 1:

    fact *= num2

    num2 = num2-1
  return fact

factorial2(5)

120

**2.	Print the Fibonacci sequence up to n terms.**

In [3]:
def fibonacci(n):
    seq = [0, 1]
    for i in range(2, n):
      seq.append(seq[-1] + seq[-2])
    return seq

fibonacci(6)

[0, 1, 1, 2, 3, 5]

In [4]:
def fibonacci2(n2):
  a = 0
  b = 1
  for i in range(n2):
    print(a, end=" ")
    temp = a
    a = b
    b = temp+b

fibonacci2(6)

0 1 1 2 3 5

**3.	Check if a number is prime or not.**

In [5]:
def primeCheck(n):
  c = 0
  if n == 0 or n == 1:
    print("Not a prime Number")

  else:
    for i in range(1,n+1):
      if n % i == 0:
        c += 1
      else:
        c = c

  if c == 2:
    print("Prime Number")
  else:
    print("Not Prime")

primeCheck(11)

Prime Number

**4.	Reverse a string without using slicing.**

In [6]:
def reverseString(myString):
  revStr = ''
  for i in range(len(myString)-1,-1,-1):
    revStr += myString[i]
  return revStr
reverseString("Abubakar")

'rakabubA'

In [7]:
def reverseString2(myString2):
  return "".join(reversed(myString2))

reverseString2("Abubakar")

'rakabubA'

**5.	Find the largest element in a list.**

In [8]:
def largest(arr):
  max = arr[0]
  for i in range(len(arr)):
    if arr[i] > max:
      max = arr[i]
  return max

largest([11,2,3,4,44,7,8,9,44])

44

**6.	Count vowels and consonants in a string.**

In [9]:
def countVowelConsonants(myStr):
  vowel = 'aeiou'
  vowelCount = 0
  consCount = 0
  for i in range(len(myStr)):
    if myStr[i].lower() in vowel:
      vowelCount +=1
    else:
      consCount +=1

  return str(vowelCount) + ' vowels and ' + str(consCount) + ' consonants'

countVowelConsonants('Uyair')

'3 vowels and 2 consonants'

**7.	Print multiplication table of any number.**

In [16]:
def multiplicationTable(n,start,end):
  for i in range(start,end+1):
    print(n , " x " ,i, " = " ,n*i)

multiplicationTable(6,5,10)

6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
6  x  10  =  60

**8.	Check if a string is a palindrome.**

In [20]:
def palindrome(myStr):
  revStr = "".join(reversed(myStr))

  if revStr.lower() == myStr.lower():
    print("Palindrome")
  else:
    print("No Palindrom")

palindrome("Dad")

Palindrome

**9.	Find the second largest number in a list.**

In [32]:
def secondLargest(arr):
  max = float('-inf')
  secondMax = float('-inf')
  for i in range(len(arr)):
    if max < arr[i]:
      secondMax = max
      max = arr[i]
    elif secondMax < arr[i] and secondMax < max:
      secondMax = arr[i]

  return max, secondMax

secondLargest([1111,11123,342,12,123,11,122,1])

(11123, 1111)

**10.	Merge two lists and remove duplicates.**

In [33]:
def mergeTwoList(arr1,arr2):
  return arr1+arr2

mergeTwoList([1,2,3,4],[3,21,121,12])

[1, 2, 3, 4, 3, 21, 121, 12]

In [40]:
def mergeTwoList2(arr1,arr2):
  arr1.extend(arr2)
  return arr1

mergeTwoList2([1,2,3,4],[3,21,121,12])

[1, 2, 3, 4, 3, 21, 121, 12]

In [42]:
def mergeTwoList2(arr1,arr2):
  c = [*arr1, *arr2]
  return c

mergeTwoList2([1,2,3,4],[3,21,121,12])

[1, 2, 3, 4, 3, 21, 121, 12]

In [43]:
def mergerList(arr1, arr2):
  mergArr = []
  for i in arr1:
    mergArr.append(i)
  for j in arr2:
    mergArr.append(j)

  return mergArr

mergerList([1,2321,213,1321,1213,1],[1,23,5,4,5,7,7,8])

[1, 2321, 213, 1321, 1213, 1, 1, 23, 5, 4, 5, 7, 7, 8]

**11.	Count frequency of each element in a list.**

In [6]:
def frequencyCount(arr):
  freq = dict()
  for i in range(len(arr)):
    count = 0
    for j in range(len(arr)):
      if arr[i] == arr[j]:
        count +=1
    freq[arr[i]] = count

  return freq

frequencyCount(['Uzair',1,1,2321,2321,11,12,12,1,5,4,'Uzair','a'])

{'Uzair': 2, 1: 3, 2321: 2, 11: 1, 12: 2, 5: 1, 4: 1, 'a': 1}

**12.	Sort a list without using the built-in sort() method.**

In [42]:
def mySort(arr):
  for i in range(len(arr)):
    min = arr[i]
    idx = i
    c = i
    for j in range(i,len(arr)):
      if arr[j] < min :
        min = arr[j]
        idx = c
      c+=1
    temp = arr[i]
    arr[i] = min
    arr[idx] = temp
  print(arr)

mySort([1,2,1,1,12,3,3,3])

[1, 1, 1, 2, 3, 3, 3, 12]

**13. Print the sentence backwards, but keep words in the correct order**

In [32]:
def backwordSentence(myStr):
  s = myStr.split()
  s.reverse()
  sentence = " ".join(s)
  s2 = ''
  for i in range(len(sentence)-1,-1,-1):
      s2 = s2 + sentence[i]
  return s2

backwordSentence("Hello is")

'olleH si'

**14. Total number of unique characters in a sentence(ignore spaces)**

In [31]:
def noOfUniqueChar(sent):
  uniq = []
  for i in sent.lower():
    if i not in uniq:
      uniq.append(i)

  return len(uniq)

noOfUniqueChar("Uzair")

5